@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000;
  
  --color-primary: 34 53 129; 
  --color-secondary: 192 0 0; 
  --color-accent: 255 215 0; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  /* Map CSS variables to Tailwind colors */
  --color-primary: rgb(var(--color-primary));
  --color-secondary: rgb(var(--color-secondary));
  --color-accent: rgb(var(--color-accent));
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide browser calendar icon */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}
/* Remove placeholder look */
input[type="date"]:not(:focus):not([value]) {
  color: transparent;
}